.gallery-container {
  display: flex;
  padding: 80px 100px 50px 100px;
  gap: 10px;
  align-items: flex-start;
}

/* LEFT */
.gallery-left {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.gallery-item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.gallery-item.active {
  opacity: 1;
}

.gallery-id {
  color: #631512;
  font-size: 18px;
  width: 50px;
}

.gallery-label {
  font-size: clamp(32px, 5vw, 100px);
  font-weight: 800;
  line-height: 1.1;
  transition: transform 0.3s ease;
}

.gallery-item.active .gallery-label {
  transform: scale(1.05);
}

/* RIGHT */
.gallery-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.gallery-image {
  width: 100%;
  max-height: 85vh;
  object-fit: cover;
  
}

/* MOBILE */
@media (max-width: 768px) {
  .gallery-container {
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
  }

  .gallery-left {
    margin-top: 0;
    align-items: center;
  }

  .gallery-item {
    justify-content: center;
  }

  .gallery-label {
    font-size: clamp(22px, 8vw, 44px);
    text-align: center;
  }

  .gallery-right img {
    max-width: 95%;
  }
}
