@font-face {
  font-family: 'Stint Ultra Condensed';
  src: url('./assets/StintUltraCondensed-Regular.ttf') format('truetype');
  font-display: swap;
}

body {
  font-family: 'Stint Ultra Condensed', sans-serif;
}
