@font-face {
  font-family: 'Stint Ultra Condensed';
  src: url('/src/assets/StintUltraCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Stint Ultra Condensed', sans-serif;
}
