.home-wrapper {
  background-color: #f3f0eb;
  padding: 10px 60px 0px 60px;
}


.drink-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 90px;
  margin-bottom: 30px;
}

.drink-img {
  width: 100%;
  max-width: 260px;
  object-fit: cover;
}

/* Offsets like the design */
.drink-img.center {
  margin-top: 120px;
}

.drink-img.right {
  margin-top: 40px;
}


.title-quote-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-number {
  font-family: 'Stint Ultra Condensed', sans-serif;
  font-size: 1.1rem;
}

.drink-title-1 {
  font-family: 'Stint Ultra Condensed', sans-serif;
  font-size: 9rem;
  
  line-height: 1;
}

.quote-text {
  font-family: "Times New Roman", serif;
  font-size: 1.3rem;
  max-width: 360px;
  text-align: right;
}


@media (max-width: 992px) {
  .drink-gallery {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }

  .drink-img.center,
  .drink-img.right {
    margin-top: 0;
  }

  .title-quote-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .quote-text {
    text-align: center;
  }

  .drink-title-1 {
    font-size: 3.5rem;
  }
}
